/* styles.css */
  li {
    padding-bottom: 0.6em;
    list-style-type: initial;
    margin-left: 30px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    /* font-weight: bold !important; */
  }

  

  blockquote {
    margin: 1em 0;
    padding: 0.5em 1em;
    border-left: 4px solid #ccc;
    background-color: #f9f9f9;
  }
  
  pre {
    margin: 1em 0;
    padding: 1em;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    overflow-x: auto;
  }
  
  img {
    margin: 1em 0;
  }
  
  a{
    text-decoration: underline;
  }