@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', Verdana;
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

h1, h2, h3{
    font-family: 'Cinzel', serif;
}

.navbar{
    z-index: 199;
    
}
.body{
    z-index: 198;

}

.h-90{
    height: 87%
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
